/* regole generali */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #141922;
}

ul {
    list-style-type: none;
}


/* menu navigazione */

#main_content {
    display: flex;
}


/* Aside */

aside {
    height: 100vh;
    width: 250px;
    padding: 20px 0;
    background-color: #000;
    color: white;
    font-weight: 300;
    z-index: 1;
    position: fixed;
}

aside .logo .logo-desk {
    width: 100px;
}

aside .logo .logo-mobile {
    display: none;
}

.bottom .box-top .icona-mobile, .bottom .box-bottom .icona-mobile {
    display: none;
}

aside .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 80px);
}

aside .top .menu-top .menu-box-1 {
    padding: 30px 0 10px 0;
    font-size: 12px;
}

aside .top .menu-top .menu-box-1 ul li:first-child {
    border-left: 2px solid yellowgreen;
}

aside .top .menu-top .menu-box-1 img {
    width: 30px;
    padding-right: 10px;
}

aside .top .menu-top .menu-box-1 ul li a {
    color: #A9A9A9;
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
}

aside .top .menu-top .menu-box-1 ul li {
    padding: 5px 0 0 15px;
}

aside .top .menu-top .menu-box-1 ul li a:hover {
    color: white;
}

aside .top .menu-bottom {
    padding-left: 15px;
}

aside .top .menu-bottom .menu-box-2 .title h3 {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}

aside .top .menu-bottom .menu-box-2 .title ul img {
    width: 30px;
    margin-right: 5px;
}

aside .top .menu-bottom .menu-box-2 .title ul li a {
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}

#playlist-item {
    /* modalità overflow*/
    /*overflow: auto;*/
    /*debug*/
    /*background-color:darkgoldenrod;*/
}

aside .top .menu-bottom .menu-box-2 .title ul li a:hover {
    color: white;
}


aside .top .menu-bottom .menu-box-2 ul li a {
    color: #A9A9A9;
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
}

aside .top .menu-bottom .menu-box-2 ul li a:hover {
    color: white;
}

aside .bottom {
    padding-left: 15px;
}

aside .bottom .box-top ul li {
    padding-bottom: 5px;
    border-bottom: 1px solid grey;
}

aside .bottom .box-top ul li a:hover {
    color: white;
}

aside .bottom .box-top ul li a {
    color: #A9A9A9;
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
}

aside .bottom .box-bottom ul li a {
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

aside .bottom .box-top img {
    width: 30px;
    padding-right: 10px;
}

aside .bottom .box-bottom img {
    width: 35px;
    padding-right: 10px;
}

/* main */

main {
    height: 100vh;
    width: 100%;
    margin-left: 250px;
    /*debug*/
    /*background-color: forestgreen;*/
}

main .box-upgrade {
    height: 60px;
    width: calc(100% - 250px);
    background-color: rgba(8,11,18,0.5);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    z-index: 1;
}

main .box-upgrade ul {
    transition: 0.1s;
}

main .box-upgrade ul:hover {
    transform: scale(1.1);
}

main .box-upgrade ul {
    margin-right: 20px;
    margin-bottom: 0;
}

main .box-upgrade li {
    list-style-type: none;
    border: 1px solid white;
    padding: 5px 30px;
    border-radius: 20px;
}

main .box-upgrade li a {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}


main .main-container {
    max-width: 95%;
    margin: 0 auto;
    /*debug*/
    /*background-color: red;*/
}

.box-menu {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    /*debug*/
    /*background-color: blueviolet;*/
}

.linea {
    width: 42%;
    height: 2px;
    margin: 0 auto;
    background-color: yellowgreen;
}

.box-menu ul li{
    display: inline-block;
    padding: 10px 6px;
    text-transform: uppercase;
}

.box-menu ul li a {
    font-size: 12px;
    font-weight: 600;
    color: #A9A9A9;
    text-decoration: none;
}

.box-menu ul li a:hover {
   color: white;
}


/* sezione album */


.box-1 {
    min-height: 250px;
    padding: 10px 0;
    /*debug*/
    /*background-color: darkorange;*/
}

main .box-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.main-container h2 {
    color: white;
    font-size: 22px;
    font-weight: bold;
}

.main-container h5 {
    font-size:12px;
    font-weight:bold;
    color:white;
    margin-top: 5px;
}

.main-container p {
    font-size:10px;
    font-weight:bold;
    color: #A9A9A9;
}

main .box-album {
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 0 5px;
    width: calc(100% / 6);
    /*debug*/
    /*background-color: orange;*/
}

main .box-album .album-image {
    max-width: 170px;
    min-width: 50px;
    text-align: center;
    /*debug*/
    /*background-color: hotpink;*/
}

main .box-album .album-image img {
    max-width: 100%;
}

.box-1.last {
    margin-bottom: 100px;
}

.box-1.last img {
    border-radius: 50%;
}

.overlay {
    position: relative;
}

.over-lay.fa-play-circle {
    display: none;
    position: absolute;
    font-size: 50px;
    color: #A9A9A9;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*debug*/
    /*background-color: yellow;*/
}

.overlay:hover img {
    opacity: 0.3;
}

.overlay:hover .over-lay {
    display: block;
}

/* footer */

footer {
    width: 100%;
    bottom: 0;
    z-index: 1;
    position: fixed;
}

.box-footer {
    min-height: 100px;
    padding: 0 8px;
    background-color: #282828;
    color: white;
    position: relative;
}

.box-footer, .box-footer .album-cd, .box-footer .album-icone {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-footer a {
    color: white;
}

.box-footer img {
    width: 50px;
}

.album-text h5 {
    color: white;
    font-size: 12px;
    font-weight: bold;
    margin:0;
}

.album-text p {
    font-size: 10px;
    font-weight: bold;
}

.album-text p a {
    color: #A9A9A9;
}

.album-text {
    text-align: left;
    margin: 10px 10px 0 10px;
}

.album-icone i {
    margin: 0 7px;
}

.album-icone {
    display: flex;
    flex-direction: row;
    margin:0 5px 0 15px;
}

.album-icone a {
    color: #A9A9A9;
}

.music-player {
    width: 50%;
    min-width: 200px;
    color: white;
    text-align: center;
}

.music-player i {
    font-size: 15px;
    margin: 10px;
}

.box-footer .fa-play-circle {
    font-size: 22px;
    transition: 0.1s;
}

.line-player span {
    font-size: 12px;
    font-weight: bold;
}

.line-player .line-back, .line-player .line-over {
    height: 4px;
    width: calc(80% - 100px);
    min-width: 40%;
    border-radius: 10px;
}

.line-player .line-back, .option-player .line-back {
    display: inline-block;
    position: relative;
    background-color: #A9A9A9;
    margin: 0 15px;
}

.line-player .line-over, .option-player .line-over {
    position: absolute;
    background-color: white;
    top: 0;
    left: 0;
    width: 30%;
}

.box-footer .option-player {
    display: flex;
    align-items: center;
    width: 190px;
}

.option-player i {
    margin: 0 10px;
    font-size: 15px;
}

.option-player .line-back {
    width: 30%;
}

.option-player .line-back, .option-player .line-over {
    height: 4px;
    border-radius: 10px;
}

.point-1, .point-2 {
    display: none;
    position: absolute;
    width: 14px;
    height: 14px;
    background-color: white;
    border-radius: 50%;
}

.point-1 {
    bottom: -5px;
    right: -11px;
}

.point-2 {
    bottom: -5px;
    right: -12px;
}

/* hover footer */

.album-icone a:hover{
    color: white;
}

.box-footer .fa-play-circle:hover {
    transform: scale(1.1);
}

.line-back:hover .point-1, .line-back:hover .point-2 {
    display: block;
}

.line-back:hover .line-over {
    background-color: yellowgreen;
}


/******* MEDIA QUERY *******/

/*Medium devices (tablets, 768px and up)*/

@media screen and (max-width: 991px) {

}

/*Small devices (landscape phones, 576px and up)*/

@media screen and (max-width: 767px) {

    main .box-row {
        flex-wrap: wrap;
    }

    main .box-album {
        width: calc(100% / 3);
    }

    .music-player i{
        font-size: 10px;
        margin: 10px;
    }

    .box-footer .option-player {
        width: 140px;
    }

    .option-player i{
        font-size: 10px;
    }
}


/* Extra small devices */

@media screen and (max-width: 575px) {


    /* sezione aside */

    aside {
        width: 72px;
    }

    aside .logo .logo-desk {
        display: none;
    }
    aside .logo .logo-mobile {
        width: 28px;
        margin-left: 15px;
        display: block;
    }

    .box-top ul, .box-bottom ul {
        display: none;
    }

    .bottom .box-top .icona-mobile, .bottom .box-bottom .icona-mobile {
        font-size: 25px;
        display: block;
        color: white;
        margin-bottom: 8px;
    }

    /* sezione main */

    main {
        width: 100%;
        margin-left: 0;
    }

    main .main-container {
        margin-left: 80px;
    }

    main .box-upgrade {
        width: 100%;
        margin-left: 72px;
    }
    main .box-upgrade ul {
        margin-right: 90px;
    }

    .menu-top .menu-box-1 ul li a {
        display: none;
    }

    .menu-bottom {
        display: none;
    }

    .bottom .box-top ul li a, .bottom .box-bottom ul li a  {
        display: none;
    }

    /* sezione album */

    main .box-album {
        width: 50%;
    }

}