/* regole generali */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

/* menu navigazione */


#main-container {
    display: flex;
}

nav {
    height: 100vh;
    width: 250px;
    padding: 10px;
    overflow: hidden;
    background-color: darkgoldenrod;
    font-size: 14px;
    color: white;
    position: fixed;
    z-index: 1;
}

nav .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*height: calc(100% - 80px);*/
}

.box-top {
    /*debug*/
    background-color: yellowgreen;
}


nav .container ul li {
    list-style-type: none;
    padding: 5px 0;
}

nav .container ul li a {
    color: white;
}

.center-menu ul {
    height:250px;
    /*overflow:hidden;*/
    /*overflow-y:scroll;*/

}

nav .container .top-menu img {
    margin-right: 5px;
}

.center-menu h5 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
}

.center-menu img {
    width: 20px;
    padding-right: 5px;
}

.top-menu li img {
    width: 20px;
}

.bottom-menu {
    height: 100px;
    width: 230px;
    text-align: left;
    font-size: 14px;
    color: white;
    position: fixed;
    z-index: 1;
    bottom: 80px;
    left: 10px;
    /*debug*/
    background-color: hotpink;
}

/*main*/


/* sezione menu navigazione */

main {
    background-color: yellowgreen;
    height: 100vh;
    width: 100%;
    margin-left: 250px;
}

main .container {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

main .container .box-menu .text-menu {
    text-align: center;
}

main .container .box-menu .text-menu ul li {
    display: inline-block;
    padding: 10px 6px;
    text-transform: uppercase;
    font-weight: 700;
}

main .container .box-menu .text-menu ul li a {
    font-size: 10px;
}

/* sezione album */






/*footer*/

footer {
    width: 100%;
    bottom: 0;
    background-color: #2d2c2c;
    color: white;
    position: fixed;
    z-index: 1;
}


footer .box-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

footer .footer-left {
    display: flex;
    color: white;
}

footer .footer-center {
    display: flex;
    color: white;
}

footer .footer-right {
    display: flex;
    color: white;
}





/* mediaQuery*/

/*Extra small devices (portrait phones, less than 576px)*/
/*No media query for `xs` since this is the default in Bootstrap*/

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

}

/*Small devices (landscape phones, 576px and up)*/
@media (max-height: 370px) {

    nav .container .bottom-menu {
        display: none;
    }

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}


