/* regole generali */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #141922;
}

ul {
    list-style-type: none;
}


/* menu navigazione */


#main-wrap {
    display: flex;
}

/* navbar spotify */

/* Aside */

aside {
    height: 100vh;
    width: 250px;
    background-color: #000;
    z-index: 1;
    padding: 20px;
    overflow: hidden;
    color: white;
    font-weight: 300;
    position: fixed;
}

aside .logo {
    width: 100px;
}


aside .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 80px);
}

aside .top .menu-top .menu-box-1 {
    padding: 30px 0;
    font-size: 12px;
}

aside .top .menu-top .menu-box-1 img {
    width: 30px;
    padding-right: 10px;
}

aside .top .menu-top .menu-box-1 ul li a {
    color: #A9A9A9;
    font-size: 12px;
}

aside .top .menu-top .menu-box-1 ul li {
    padding: 5px 0;
}


aside .top .menu-bottom .menu-box-2 .title h3 {
    text-transform: uppercase;
    font-size: 12px;
}

aside .top .menu-bottom .menu-box-2 ul li a {
    color: #A9A9A9;
    font-size: 12px;
}

/*aside .bottom .box-top .box-text p {
    padding-bottom: 10px;
    border-bottom: 1px solid grey;
}*/

aside .bottom .box-top ul li{
    padding-bottom: 10px;
    border-bottom: 1px solid grey;
}

aside .bottom .box-top ul li a {
    color: #A9A9A9;
    font-size: 12px;
}

aside .bottom .box-top img {
    width: 30px;
    padding-right: 10px;
}


aside .bottom .box-bottom .box-user p {
    padding-top: 10px;
}


/* inizio immagine id utente */

/*aside .bottom .box-top .box-text p:before {
    content: "";
    margin-right: 10px;
    color: white;
    font-weight: 900;
}*/

/*aside .bottom .box-bottom .box-user p:before {
    content: "";
    margin-right: 10px;
    font-size: 30px;
    color: white;
    font-weight: 900;
}*/

/* fine immagine id utente */


/* fine Aside */



/* main */

main {
    height: 100vh;
    width: 100%;
    margin-left: 250px;
    /*debug*/
    /*background-color: #141922;*/
}

/* sezione upgrade nel main */

main .box-upgrade {
    height: 60px;
    width: calc(100% - 250px);
    background-color: rgba(8,11,18,0.5);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    z-index: 1;
}

main .box-upgrade ul {
    margin-right: 20px;
    margin-bottom: 0;
}

main .box-upgrade li {
    list-style-type: none;
    border: 1px solid white;
    padding: 5px 30px;
    border-radius: 20px;
}

main .box-upgrade li a {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    color: white;
}


/* sezione main */



main .main-container {
    max-width: 95%;
    margin: 0 auto;
    /*overflow: scroll;*/
    /* display: flex;
     justify-content: center;*/
    /*debug*/
    /*background-color: #141922;*/
}

.box-menu {
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

.box-menu ul li{
    display: inline-block;
    padding: 10px 6px;
    text-transform: uppercase;
}

.box-menu ul li a {
    font-size: 12px;
    font-weight: 600;
    color: #A9A9A9
}


/*fine menu main*/


/* sezione album */

.box-title h2 {
    color: white;
    font-size: 22px;
    font-weight: bold;
}

.box-title h5 {
    font-size:10px;
    font-weight:bold;
    color: #A9A9A9;
}

.box-1 {
    display: flex;
    padding: 20px 0;
    /*justify-content: space-evenly;*/
    /*debug*/
    /*background-color: green;*/
}

.box-1.last {
    margin-bottom: 100px;
}

.box-1.last img{
    border-radius: 50%;
}


.box-1 .box-album {
    width: calc(100% / 6);
    padding: 0 3px;
    display: flex;
    justify-content: center;
    align-items: baseline;

    /* debug*/
    /*border: 1px solid red;*/
    /*background-color: green;*/
}

.box-1 .box-album .image-card {
    max-width: 140px;
    min-width: 60px;
    text-align: center;
    /*debug*/
    /*background-color: yellowgreen;*/
    /*border: 2px solid black;*/
}

.box-album .image-card > img {
    max-width: 100%;
}

.image-card h5 {
    font-size:13px;
    font-weight:bold;
    color: white;
    padding-top: 10px;
}
.image-card p {
    font-size:10px;
    font-weight:bold;
    color: #A9A9A9;
}






/*footer*/

footer {
    background-color: #282828;
    width: 100%;
    bottom: 0;
    z-index: 1;
    position: fixed;
}

footer .box-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

footer .box-left {
    color: white;
    display: flex;
}

footer .box-left .center {
    margin: 25px 10px 0 10px;
}

footer .box-left .center h4 {
    font-size: 12px;
    margin-bottom: 0;
}

footer .box-left .center p {
    font-size: 10px;
    font-weight: 600;
    color: #A9A9A9;
}

footer .box-left .right {
    display: flex;
    align-items: center;
}

footer .box-left .right .icon {
    margin: 0 20px;
}

footer .box-left .right .icon i{
    margin: 0 5px;
    color: #A9A9A9;
}

footer .box-center .music-player ul li {
    display: inline-block;
}

footer .box-center .music-player ul li a {
    padding: 0 15px;
    color: white;
}

footer .box-right .control-player ul li {
    display: inline-block;
}

footer .box-right .control-player ul li a {
    padding: 0 20px;
    color: white;
}

footer .box-footer .box-left .left img {
    width: 40px;
    margin: 20px 10px;
}




/* mediaQuery*/


/*Small devices (landscape phones, 576px and up)*/
@media (max-width: 767px) {

    aside {
        width: 72px;
    }

    main {
        width: 100%;
        margin-left: 0;
    }

    main .main-container {
        margin-left: 80px;

    }

}













/********* dal sito bootstrap ***********/
/*Extra small devices (portrait phones, less than 576px)*/
/*No media query for `xs` since this is the default in Bootstrap*/

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}


